.wrapper {
  position: relative;
  padding-left: 250px;
  min-height: 100vh;
  background-color: #F6F8FA;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  top: 0;
}

.main {
  display: flex;
  gap: 45px;
  flex-direction: column;
  padding: 24px 32px 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}