.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  transition: all .15s ease;

  &:disabled {
    opacity: 60%;
    pointer-events: none;
  }

  &--primary {
    &.button--filled {
      border: 1px solid #3C2D96;
      color: #fff;
      background-color: #3C2D96;

      &:hover {
        color: #3C2D96;
        background-color: #FFD480;
        border: 1px solid #FFD480;
      }
    }

    &.button--outlined {
      border: 1px solid #3C2D96;
      color: #3C2D96;
      background-color: transparent;

      &:hover {
        border: 1px solid #FFD480;
        color: #3C2D96;
        background-color: #FFD480;
      }
    }
  }

  &--secondary {
    &.button--filled {
      border: 1px solid #3BF1E2;
      color: #fff;
      background-color: #3BF1E2;


      &:hover {
        background-color: #3BF1E2;
      }
    }

    &.button--outlined {
      border: 1px solid #3BF1E2;
      color: #3BF1E2;
      background-color: transparent;

      &:hover {
        color: #fff;
        background-color: #3BF1E2;
      }
    }
  }


}

.icon {
  margin-right: 10px;
}