.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
}

.loadmore {
  display: flex;
  justify-content: center;

  &__inner {
    max-width: 300px;
    width: 100%;
  }
}