.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
}

.empty {
  display: flex;
  justify-content: center;
  padding-top: 130px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 20px;
    max-width: 360px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
}

.loadmore {
  display: flex;
  justify-content: center;

  &__inner {
    max-width: 300px;
    width: 100%;
  }
}