.wrapper {
  background: #fff;
  padding: 24px;
  width: 100%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  @media (max-width: 480px) {
    padding: 16px;
  }
}

.logo {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__title {
    margin-left: 14px;
    color: #3C2D96;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}

.tabs {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #3C2D96;
  margin-bottom: 24px;
}

.tab {
  flex: 0 0 50%;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #3C2D96;

  &--active {
    color: #fff;
    background-color: #3C2D96;
  }

}