.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 2fr;
  background: #FFFFFF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 12px 16px;
  gap: 24px;
}

.col {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #87A2BE;
  line-height: 16px;

  &--asc {
    svg {
      transform: rotateX(180deg);
    }
  }
}