.wrapper {
  padding: 16px;
  background-color: #3C2D96;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  min-width: 200px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFD480;
  margin-bottom: 5px;
}

.value {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  color: #FFFFFF;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}