.wrapper {
  display: flex;
  gap: 8px;
}

.input {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px 12px;
  background: #FFFFFF;
  border: 1px solid #BDC6CD;
  border-radius: 8px;
  text-align: center;

  &:focus {
    border: 1px solid #181920;
  }
}