.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #E9EDF0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.nav {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 8px;
    color: rgba(24, 25, 32, 0.6);

    &:hover {
      color: rgba(24, 25, 32, 0.6);
    }

    &--active {
      color: #fff;
      background-color: #3C2D96;

      &:hover {
        color: #fff;
      }
    }
  }

  &__text {
    flex-grow: 1;
  }
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 15px 0;
  color: rgba(24, 25, 32, 0.6);
  transition: all .15s ease;

  &:hover {
    color: #3C2D96;
  }
}