.wrapper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--default {
    background-color: #E8EDF3;
  }

  &--closed {
    background: #3C2D96;
  }
}

.closed {
  &__header {
    color: #FFD480;
    padding: 4px;
    font-weight: 500;
  }
}


.logo {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.default {
  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #181920;
  }
}

.status {
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #DEE3E8;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3C2D96;
  }

  &__post {
    padding: 4px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background: #E8EDF3;
    border-radius: 100px;
    color: #181920;
  }
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
  gap: 24px;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 690px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.col {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  &__name {
    color: #8596AA;
    margin-bottom: 8px;
  }

  &__value {
    &--bool {
      padding: 4px 10px;
      width: fit-content;
      background: #E8EDF3;
      border-radius: 100px;
      font-weight: 500;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.geo {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  gap: 8px;
}

.controlls {
  display: flex;
  gap: 20px;
}

.route {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  background: #3C2D96;
  border-radius: 8px;

  &:hover {
    background-color: #FFD480;
  }
}

.organization {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 20px;
}

.rotated {
  transform: rotate(180deg);
}