.wrapper {
  display: grid;
  gap: 24px;
}

.inner {
  display: grid;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.loadmore {
  display: flex;
  justify-content: center;

  &__inner {
    max-width: 400px;
    width: 100%;
  }
}
